*{
  padding: 0px;
  margin: 0px;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  background-color:whitesmoke;
}

header {
  margin-bottom: 20px;
}

main {
  width: 100%;
  /* max-width: 600px; */
}
